*::-webkit-scrollbar {
  width: 6px;
}
*::-webkit-scrollbar-track {
  background: #fff;
}

*::-webkit-scrollbar-thumb {
  background-color: #3a1050;
  border-radius: 20px;
}

body {
  font-family: "Urbanist", sans-serif;
}

.header {
  position: fixed;
  top: 0px;
  background: #8424b1;
  height: 50px;
  width: 100%;
  font-size: 1.3rem;

  display: flex;
  justify-content: center;
  flex-direction: column;

  z-index: 1;
}
.container__nav{
  margin-right: 10px;
}


.nav {
  justify-content: space-around;
}
.nav__menu {
  display: flex;
  justify-content: flex-end;
  flex-wrap: nowrap;
}

.nav__link {
  text-decoration: none;
  color: #fff;
  padding: 10px;
  display: block;
}

.nav__link:hover {
  background: #3a1050;
}
.nav__submenu {
  position: absolute;
  top: 50px;

  background: #8424b1;
  opacity: 0.9;

  display: none;
}

.link__submenu {
  padding: 10px 10px;
}
.link__submenu:hover {
  background: #3a1050;
}













@media (max-width: 800px) {
  .header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    background: #8424b1;
    opacity: 0.9;

    width: 200px;
    height: 100vh;
    padding: 10px 0px;
    z-index: 1000;
  }

  .icon__nav {
    visibility: visible;
    position: absolute;
    top: 15px;
    left: 5px;
  }
  .container__nav {
    position: relative;
    top: 0;
    left: 0;
    margin: 5px;
  }

  .nav__menu {
    display: flex;
    flex-direction: column;
  }
  .nav__link {
    display: block;
    padding: 10px;
  }
  .nav__link:hover {
    background: #3a1050;
  }

  .nav__submenu {
    position: absolute;
    left: 0;
    width: 200px;
    display: none;
  }
}
