*::-webkit-scrollbar {
  width: 6px;
}
*::-webkit-scrollbar-track {
  background: #fff;
}

*::-webkit-scrollbar-thumb {
  background-color: #3a1050;
  border-radius: 20px;
}







body {
  font-family: "Urbanist", sans-serif;
}

.div__btn {
  display: none;
}
.logo {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #c8a2ff;
}
.logo img {
  height: 100px;
}

.abajo {
  position: fixed;
  top: 0;
}
.container__nav {
  position: fixed;
  padding-right: 40px;
  display: flex;
  justify-content: center;
  width: 100vw;
  background: #3a1050;
  
  

  z-index: 1000;
}

.nav ul,
.nav li {
  margin: 0;
  padding: 0;
}
.nav ul {
  background: #3a1050;
  list-style: none;
  width: 100%;
}
.nav li {
  float: left;
  position: relative;
  width: auto;
}
.nav a {
  color: #ffffff;
  display: block;
  font: 20px "Urbanist";
  padding: 15px 20px;
  text-align: center;
  text-decoration: none;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
.nav li:hover a {
  background: #c8a2ff;
}
.submenu {
  left: 0;
  opacity: 0;
  position: absolute;
  top: 5px;
  visibility: hidden;
  z-index: 1;
}

.desplegable::after {
  content: " \25BC";
  font-size: 11px;
}

li:hover ul.submenu {
  opacity: 1;
  top: 54px;
  visibility: visible;
} 
.submenu li {
  float: none;
  width: 100%;
}
.submenu li a:hover {
  background: #3a1050;
}
.submenu a {
  background-color: #3a1050;
  padding: 10px 0px;
}

#current {
  background: #c8a2ff;
}





















@media (max-width: 768px) {
  .header {
    width: 100vw;
    position: fixed;
    z-index: 1000;
  }
  #btn-menu {
    display: none;
  }

  .div__btn {
    display: block;
    position: absolute;
    top: 10px;
    left: 10px;

    z-index: 5000;
  }

  .div__btn label {
    font-size: 20px;
    position: absolute;
    width: 20px;
    height: 20px;
    padding: 10px;
    color: #fff;
    background-color: #20092d;
    border-radius: 5px;
  }


  .logo {
    position: fixed;
    top: 0;
    z-index: 100;
  }
  .logo img {
    height: 60px;
  }

  .container__nav {
    justify-content: flex-start;
    position: fixed;
    height: 100vh;
    background: #3a1050;
    width: 200px;
    display: none;

    z-index: 1000;
    padding: 58px 0 0 0;

   
  }



  .nav ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    
  }
  ul .submenu {
    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    
  }
  
  
  .nav li {
    border-top: 0.5px solid #20092d;
  }
  

  
  .nav a {
    text-align: left;
  }



#current{
  background: none;
}
  .submenu{
    padding-top: 0px;
    position: relative;
    display: block;
    top: 0;
  }
  .submenu li{
    position: relative;
    top: 0;
    
  }

 .submenu li a{
  padding-left: 30px;
 }

  

}
